<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <!--      <ion-button (click)="apiKeyChangeInput()">-->
      <!--        <ion-icon [name]="apikeyicon" slot="icon-only"></ion-icon>-->
      <!--      </ion-button>-->
      <ion-button (click)="modalMessage.present()">
        <ion-icon name="notifications-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="modalState = true;opendialogModal()">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Manage Users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card [hidden]="apikeyicon == 'key-outline'">
    <ion-card-header>
      <ion-card-title>Change Api Key</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item color="undefined">
        <ion-label position="floating">Key</ion-label>
        <ion-input [(ngModel)]="apiKey" type="text"></ion-input>
      </ion-item>
      <ion-button (click)="changeApiKey()" expand="block">
        Save Key
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-segment mode="md" [(ngModel)]="segment" [scrollable]="true" class="ion-justify-content-center" value="user-list">
    <ion-segment-button value="user-list">Users</ion-segment-button>
    <!-- <ion-segment-button value="video-list">Videos</ion-segment-button> -->
  </ion-segment>

  <ion-card *ngIf="users.length &&  segment == 'user-list'">

    <ion-card-content>


      <ion-item color="undefined" *ngFor="let user of users" button>
        <ion-avatar (click)="presentAlert(user)" slot="start">
          <img [src]="user.photoURL == '' ?  './../../../assets/images/profile-avatar.jpg' : user.photoURL" />
        </ion-avatar>
        <ion-label (click)="presentAlert(user)">
          <h3>{{user.displayName}}</h3>
          <p>{{user.email}}</p>
          <p>${{user.balance}}</p>
        </ion-label>
        <ion-toggle (ionChange)="toggleUserState($event , user)" [checked]="!user.disabled" slot="end"></ion-toggle>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-grid fixed>
    <ion-row>

      <ion-col size="12" *ngFor="let video of  videoList">
        <ion-card *ngIf="segment == 'video-list'" button (click)="editVideo = video;modalVideo.present()">
          <video style="width: 100%;max-width: 100%;" [src]="video.link"></video>
          <ion-card-header>
            <ion-card-title class="text-wrap-limit">{{video.title}}</ion-card-title>
            <ion-card-subtitle class="text-wrap-limit">{{video.subtitle}}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content class="text-wrap-limit">
            {{video.desp}}
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>


  <ion-modal #modal (willDismiss)="new_user_email = '';new_user_amount=null;editVideo=null">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-buttons slot="primary">
              <ion-button (click)="modal.dismiss();modalState = false">
                <ion-icon name="close" slot="start"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-buttons>
          <ion-title>Add New User</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">


        <ion-card>
          <ion-card-header style="background-color: #121212;">
            <ion-avatar style="margin: auto;">
              <img src="./../../../assets/images/profile-avatar.jpg" />
            </ion-avatar>
            <ion-card-title class="ion-text-center">New User</ion-card-title>
          </ion-card-header>
          <ion-card-content>

            <ion-item color="undefined">
              <ion-label position="floating">Email</ion-label>
              <ion-input [(ngModel)]="new_user_email" type="email"></ion-input>
            </ion-item>
            <ion-item color="undefined">
              <ion-label position="floating">Amount</ion-label>
              <ion-input [(ngModel)]="new_user_amount" placeholder="100" type="number"></ion-input>
            </ion-item>
            <ion-button (click)="createUser()" [disabled]="new_user_email == '' || new_user_amount == null || check"
              color="danger" expand="block" fill="solid">
              Create User
            </ion-button>

          </ion-card-content>
        </ion-card>


      </ion-content>
    </ng-template>
  </ion-modal>


  <ion-modal #modalVideo
    (didDismiss)="new_user_email = '';new_user_amount=null;editVideo=null;selectedVideo=null;titleValue=null">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-buttons slot="primary">
              <ion-button (click)="modalVideo.dismiss();modalState = false">
                <ion-icon name="close" slot="start"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-buttons>
          <ion-title>Add/Update Video</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">



        <ion-card>
          <video *ngIf="editVideo" style="width: 100%;max-width: 100%;" controls [src]="editVideo.link"></video>
          <img *ngIf="!editVideo && !selectedVideo" (click)="inputfile.click();"
            src="./../../../assets/images/upload-video.jpg" />
          <img *ngIf="!editVideo && selectedVideo" (click)="inputfile.click();"
            src="./../../../assets/images/upload-video-selected.jpg" />
          <input #inputfile id="uploadVideo" style="display: none;" type="file" (change)="onChangeVideoSelect($event)">
          <ion-card-content>
            <div *ngIf="!editVideo">
              <ion-item color="undefined">
                <ion-label position="floating">Title</ion-label>
                <ion-input [(ngModel)]="titleValue" #title type="text"></ion-input>
              </ion-item>
              <ion-item color="undefined">
                <ion-label position="floating">Subtitle</ion-label>
                <ion-input #subtitle type="text"></ion-input>
              </ion-item>
              <ion-item color="undefined">
                <ion-label position="floating">Description</ion-label>
                <ion-textarea #desp rows="5" type="text"></ion-textarea>
              </ion-item>
              <ion-button (click)="uploadVideo({title, subtitle, desp})" class="ion-margin-vertical"
                [disabled]="titleValue  == '' ||  selectedVideo == null" color="danger" expand="block" fill="solid">
                {{editVideo ? 'Update Video' : 'Add Video'}}
              </ion-button>
            </div>
            <ion-button *ngIf="editVideo" (click)="deleteVideo(editVideo)" class="ion-margin-vertical" color="danger"
              expand="block" fill="outline">
              Delete Video
            </ion-button>

          </ion-card-content>
        </ion-card>


      </ion-content>
    </ng-template>
  </ion-modal>


</ion-content>




<ion-modal #modalMessage style="--height:40vh;">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-buttons slot="primary">
            <ion-button (click)="modalMessage.dismiss()">
              <ion-icon name="close" slot="start"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-buttons>
        <ion-title>Send a Notification</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-label position="floating">Title</ion-label>
        <ion-input #messageTitle></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Message</ion-label>
        <ion-textarea rows="3" #messageBody></ion-textarea>
      </ion-item>
      <ion-button #sendCloudMessageButton (click)="sendCloudMessage(messageTitle, messageBody, modalMessage, sendCloudMessageButton)" [disabled]="!messageTitle?.value ||!messageBody?.value" color="success"
        expand="block" fill="solid">
        Send
      </ion-button>

    </ion-content>
  </ng-template>
</ion-modal>