.confirm-delete-button {
  --padding-start: 44px;
  --padding-end: 44px;
  --padding-top: 12px;
  --padding-bottom: 12px;
  height: auto;
  max-width: 140px;
  margin: 0 auto;
}

.description-label {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}